@font-face {
   font-family: 'Source Code Pro';
   src: url('../assets/fonts/SourceCodePro.ttf');
}

* {
   font-family: 'Source Code Pro';
}

body {
   background-color: #202124;
   color: white;

   height: 100vh;

   display: flex;
   justify-content: center;
   align-items: center;
}
