.buttons-container button {
   font-size: 2em;
   font-weight: bold;

   border: none;
   border-radius: 10px;

   padding: 12px;
   margin: 10px;

   transition: all ease 0.2s;
}

.buttons-container button:hover {
   cursor: pointer;
   opacity: 0.75;
   transform: scale(1.05);
}

.buttons-container button.numeral {
   background-color: #3c4043;
   color: white;
}

.buttons-container button.symbol {
   background-color: #5f6368;
   color: white;
}

.buttons-container button.function {
   background-color: #8ab4f8;
   color: black;
}
