.calculator {
   width: 700px;
   height: 600px;

   display: grid;
   grid-template-rows: 20% 80%;
}

.entry-container {
   border: 2px solid #3c4043;
   border-radius: 10px;

   overflow: hidden;

   margin: 10px;
   padding: 20px;

   flex-direction: column;
}

.entry-container .entry {
   font-size: 1.75em;

   display: flex;
   justify-content: right;
}

.entry-container .last-operation {
   font-size: 1em;
   opacity: 0.5;

   display: flex;
   justify-content: right;
}

.buttons-container {
   display: grid;
   grid-template-columns: repeat(4, 25%);
}
